/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Main CSS */

html, body {
	margin: 0;
	padding: 0;
	display: table;
	height: 100%;
	width: 100%;
	text-align: center;
	background: #466368;
	background: -webkit-linear-gradient(#648880, #293f50);
	background:         linear-gradient(#648880, #293f50);
	color: white;
}

div {
	display: table-cell;
	vertical-align: middle;
	padding-top: 1,5em;
}

h1 {
	color: #E8EAF6;
	display: block;
	font-family: 'Ranga', cursive;
	font-size: 60px;
	padding-top: 10px;
}

h3 {
	color: #E8EAF6;
	display: block;
	font-family: 'Ranga', cursive;
	font-size: 40px;
	padding-top: 30px;
	text-decoration: underline;
}

h5 {
	color: white;
	display: block;
	font-family: 'Work Sans', cursive;
	font-size: 40px;
	padding-top: 30px;
}

h5 a:hover {
	color: #42A5F5;
}

p {
	color: white;
	font-family: 'Work Sans';
	font-size: 30px;
	padding: 10px 0 10px 0;
}

.avatar {
	width: 240px;
	height: 240px;
	padding: 20px 0 10px 0;
}

article, aside, footer, header, hgroup, main, nav, section {
	display: block;
}

nav ul {
	list-style: none;
	margin: auto;
	padding: 20px 0 0 0;
	display: table;
}

nav li {
	display: inline-block;
	color: black;
}

li {
	text-align: -webkit-match-parent;
}

nav a {
	display: inline-block;
	text-decoration: none;
	color: #E8EAF6;
	padding: 5px 12px;
	font-weight: 400;
}

nav a:hover {
	color: black;
	background-color: white;
}

.email, .twitter, .github, .fcc, .linkedin {
	width: 100px;
	height: 100px;
}
